nav {
  background-color: #15d779;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 30px;
  animation: fade-in 1s ease;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
  }
  
  nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
  }
  
  nav a:hover {
    background-color: #555;
  }
nav {
  background-color: #15d779;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 30px;
} 

nav h1 {
  margin: 0;
  color: #54cc2f;
} 

 nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
} 

nav ul li {
  margin: 0 10px; 
}
nav ul li a {
  text-decoration: none;
  color: #ffffff;
}

nav ul li a:hover {
  color: #0eee3e;
}

  